body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;

  gap: 50px;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}
