.user-profile.invoice {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.page-header {
  background-color: var(--primary-color);
  color: white;

  height: 50px;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.invoice-wrapper,
.details-wrapper,
.payment-wrapper {
  background-color: white;
  width: 500px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  padding: 15px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.invoice-wrapper span {
  font-weight: 500;
}

.location-name {
  font-weight: 600;
}

.invoice-amount {
  font-size: 1.5em;
  font-weight: 700;
  color: black;
}

.invoice-due-date {
  font-size: 0.9em;
  font-weight: 600;
  color: var(--dark-icon-color);
}

.invoice-divider {
  width: 100%;
  border: 1px solid var(--lighter-outline-color);
}

.metadata-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  width: 100%;
}

.metadata-entry {
  width: 100%;

  display: flex;
  flex-direction: row;

  /* background-color: pink; */
}

.label-wrapper {
  /* background-color: blue; */
  width: 150px;
}

.metadata-notif {
  /* background-color: blue; */
  width: 100%;
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.metadata-label {
  color: var(--light-icon-color);
}

.options-button.smaller {
  height: 30px;
}

.invoice-footer {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.action-button {
  background-color: transparent;
  border: none;

  color: var(--primary-color);
}

.details-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;
}

.details-label {
  font-weight: 700;
  font-size: 1.3em;
  color: black;
}

.invoice-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
}

.invoice-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* width: 100%; */
}

.item-header,
.item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.item-header {
  font-weight: 500;
  /* font-size: 1.1em; */
}

.invoice-subtotal,
.invoice-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.invoice-subtotal {
  font-weight: 500;
  font-size: 1.1em;
}

.invoice-total {
  font-weight: 700;
  font-size: 1.3em;
}

.payment-methods {
  width: 100%;
}
.payment-method {
  display: flex;
  flex-direction: row;
  gap: 10px;

  width: 100%;
}

.payment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.payment-content {
  width: 100%;
}

.payment-info {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  gap: 5px;
}

.expires {
  white-space: nowrap;
}

.payment-type {
  /* font-weight: 500; */
  color: var(--light-icon-color);
  font-size: 0.9em;
}

.pay-wrapper {
  width: 530px;
}

.pay-button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;

  margin: 0;
  padding: 15px 0;
}
