.user-profile.invoice {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-header {
  background-color: var(--primary-color);
  color: white;

  height: 50px;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.invoice-wrapper {
  background-color: white;
  width: 500px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  padding: 15px;
  margin: 20px 0;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.invoice-wrapper span {
  font-weight: 500;
}

.location-name {
  font-weight: 600;
}

.invoice-amount {
  font-size: 1.5em;
  font-weight: 700;
  color: black;
}

.invoice-due-date {
  font-size: 0.9em;
  font-weight: 600;
  color: var(--dark-icon-color);
}

.invoice-divider {
  width: 100%;
  border: 1px solid var(--lighter-outline-color);
}

.metadata-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  width: 100%;
}

.metadata-entry {
  width: 100%;

  display: flex;
  flex-direction: row;

  /* background-color: pink; */
}

.label-wrapper {
  /* background-color: blue; */
  width: 150px;
}

.metadata-notif {
  /* background-color: blue; */
  width: 100%;
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.metadata-label {
  color: var(--light-icon-color);
}

.options-button.smaller {
  height: 30px;
}

.invoice-footer {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.action-button {
  background-color: transparent;
  border: none;

  color: var(--primary-color);
}
