.material-symbols-outlined.general-icon {
  font-size: 1.2em;
}

.material-symbols-outlined.tab-icon {
  font-size: 1.5em;
}

.material-symbols-outlined.urgent {
  color: red;
}

.material-symbols-outlined.pasive {
  color: green;
}

button {
  cursor: pointer;
}

.page-header {
  height: 80px;
  border-bottom: 1px solid #ccc;

  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
}

.resident-navbar {
  width: 275px;
  height: 85vh;
  background-color: white;

  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* background-color: blue; */
}

.navbar-wrapper {
  width: 100%;
}
.navbar-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 5px 10px;

  border-radius: 5px;
  border: 1px solid black;
}

.navbar-profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-tabs {
  margin: 0;
  padding: 0;
  list-style: none;

  margin-top: 10px;
}

.nav-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  height: 40px;
  padding: 0 20px;

  font-size: 0.9em;
}

.general-info {
  border: 1px solid #ccc;
  border-radius: 10px;

  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.general-info h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  color: #333;
}

.general-info-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  gap: 20px;

  font-size: 0.8em;
}

.content {
  display: flex;
  flex-direction: row;
}

.content-wrapper {
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-title {
  margin-bottom: 20px;
}

.content-header {
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content-tabs {
  display: flex;
  gap: 10px;

  border-bottom: 1px solid #ccc;
}

.content-tab {
  border: none;
  background-color: transparent;
  padding: 10px;
  font-weight: 500;

  font-family: "Montserrat", sans-serif;
}
.content-tab.selected {
  border-bottom: 4px solid black;
  font-weight: 700;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */

  /* flex: 1; */
  gap: 20px;

  width: 100%;

  /* background-color: blue; */
}

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;

  flex: 1;
  gap: 10px;

  /* background-color: pink; */
}

.card {
  background-color: white;
  border-radius: 5px;
  border-top: 8px solid yellowgreen;

  /* width: 100%; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  /* flex: 1; */
  padding: 20px;
}

.card-header {
  display: flex;
  flex-direction: column;
}

.card-header.payments {
  flex-direction: row;
}

#current-balance {
  font-size: 1.5em;
  font-weight: 600;
  color: #333;
}

.notification {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;

  font-size: 0.9em;

  padding: 5px 0;
}

.no-notification {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;

  height: 100px;
  margin: 10px 0;

  font-weight: bold;

  padding: 5px 0;

  background-color: var(--lighter-outline-color);
  border-radius: 5px;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.pay-button {
  flex: 1;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;

  font-weight: 500;
}

.pay-button.blue {
  background-color: rgb(51, 98, 168);
  color: white;
}

.pay-button.grey {
  background-color: #ccc;
  color: black;
}

.month {
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.9em;
  font-weight: 700;
  padding: 10px 0;
}

.space-between-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#scheduled-payments {
  font-size: 1.3em;
  font-weight: 600;
}

.edit-button {
  border: none;
  background-color: transparent;
  color: #649ac7;
  font-size: 0.9em;
  font-weight: 500;

  cursor: pointer;
}

.last-payment-content {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

/* payments */

.card-title {
  font-weight: bold;
}

.payments-divider {
  margin: 0 30px;
}

.card-left {
  width: 250px;
}

.card-right {
  width: 100%;
}

.light-grey {
  /* color: var(--outline-color); */
  border: 1px solid var(--lighter-outline-color);
}

.payment-method-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  font-size: 0.9em;
  font-weight: 500;

  border: 1px solid var(--outline-color);
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;

  cursor: pointer;
}

.payment-method {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  gap: 10px;
}
