#add-customer-form {
  width: 500px;
}

.payment-method-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.payment-method-option {
  display: flex;
  align-items: center;

  padding: 5px 0;
  transition: background-color 0.3s ease;
}

.payment-method-option:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.payment-method.open {
  /* background-color: pink; */
  height: 100px;
}

.payment-method.closed {
  display: none;
}
